@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Product

@{
    ViewBag.Title = "Product Catalog - All Products";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <table class="table-bordered">
                <thead class="">
                    <tr>
                        <th>Id</th> @*@Html.DisplayNameFor(modelItem => modelItem.Id)*@
                        <th>SKU</th>
                        <th>Product Name</th>
                        <th>Slug</th>
                        <th>Weight</th>
                        <th>Descriptions</th>
                        <th>Thumbnail</th>
                        <th>Image</th>
                        <th>Category</th>
                        <th>Date Created</th>
                        <th>Stock</th>
                    </tr>
                </thead>

                <tbody class="">
                    @*@foreach(var item in Model) {*@
                    <tr>
                        <td></td>

                        @*@Html.DisplayFor(modelItem => item.Id)*@
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    @*}*@
                </tbody>


            </table>
        </div>
    </div>
</div>


